.message {
    display: flex;
    align-items: flex-end;
    background-color: #0059b3;
    width: 350px;
    height: 50px;
    border-radius: 20px 20px 0 20px;
    margin: 60px 1000px;

}

.imageAndText {
padding: 10px;
}

.imageAndText img {
    position: absolute;
    width: 36px;
    height: 36px;
    margin:10px 356px auto ;
}

.text {
}

.text:after {
}

.name {

}

.messageText {

}

.time {
    position: absolute;
    margin: auto auto -13px 370px;
    font-weight: bold;
    font-size: 10px;
}