.friendMessage {
    display: flex;
    align-items: flex-end;
    background-color: #F5F7FB;
    width: 350px;
    height: 50px;
    border-radius: 20px 20px 20px 0 ;
    margin: 0 0 0 60px
}

.friendImageAndText {
    padding: 10px;

}

.friendImageAndText img {
    position: absolute;
    width: 36px;
    height: 36px;
    margin: 10px 0 0 -60px;
}

.friendText {

}

.friendText:after {

}

.friendName {
    font-size: 16px;
}

.friendMessageText {

}

.friendTime {
    position: absolute;
    margin: -37px -5px -12px -45px;
    font-weight: bold;
    font-size: 10px;

}
