.friendMessage {
    display: flex;
}

.friendImageAndText {

}

.friendImageAndText img {
    width: 36px;
    height: 36px;
}

.friendText {
    padding: 10px;
    background-color: #F5F7FB;
    width: 350px;
    height: 50px;
    border-radius: 20px 20px 20px 0 ;
}

.friendText:after {

}

.friendName {
    font-size: 16px;
}

.friendMessageText {

}

.friendTime {
    position: absolute;
    margin: -37px -5px -12px -45px;
    font-weight: bold;
    font-size: 10px;

}
