.button {
    display: flex;
    width: 100px;
    justify-content: center;
    color: white;
}

.disabled {
}

.secondary {
}

.default {
    background: #0066CC;
}

.red {
    background-color: red
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
